<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.chendehe.dao.StudentDao">
  <resultMap id="Student" type="com.chendehe.entity.StudentEntity">
    <id column="id" property="id" jdbcType="CHAR"/>
    <result column="school" property="school" jdbcType="VARCHAR"/>
    <result column="academy" property="academy" jdbcType="VARCHAR"/>
    <result column="major" property="major" jdbcType="VARCHAR"/>
    <result column="classes" property="classes" jdbcType="VARCHAR"/>
    <result column="create_time" property="createTime" jdbcType="DATE"/>
    <result column="update_time" property="updateTime" jdbcType="DATE"/>
  </resultMap>

  <select id="findAll" resultMap="Student">
    select * from t_student
  </select>

  <insert id="save">
    insert into t_student
    (id, school, academy, major, classes, create_time, update_time)
    values
    (#{id}, #{school}, #{academy}, #{major}, #{classes}, #{create_time}, #{updateTime})
  </insert>

  <select id="saveBatch" parameterType="java.util.List">
    insert into t_student
    (id, school, academy, major, classes, create_time, update_time)
    values
    <foreach collection="list" item="item" index="index" separator=",">
      (#{item.id}, #{item.school}, #{item.academy}, #{item.major}, #{item.classes}, #{item.createTime}, #{item.updateTime})
    </foreach>
  </select>

</mapper>