<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.chendehe.dao.UserDao">
  <resultMap id="User" type="com.chendehe.entity.UserEntity">
    <id column="id" property="id" jdbcType="CHAR"/>
    <result column="name" property="name" jdbcType="VARCHAR"/>
    <result column="gender" property="gender" jdbcType="TINYINT"/>
    <result column="birthday" property="birthday" jdbcType="TIMESTAMP"/>
    <result column="address" property="address" jdbcType="VARCHAR"/>
    <result column="create_time" property="createTime" jdbcType="DATE"/>
    <result column="update_time" property="updateTime" jdbcType="DATE"/>
  </resultMap>

  <select id="findAll" resultMap="User">
    select * from t_user
  </select>

  <select id="findOne" parameterType="string" resultMap="User">
    select * from t_user where id = #{id}
  </select>

  <insert id="save">
    insert into t_user
    (id, name, gender, birthday, address, create_time, update_time)
    values
    (#{id}, #{name}, #{gender}, #{birthday}, #{address}, #{createTime}, #{updateTime})
  </insert>

  <update id="update">
      update t_user set
        name = #{name},
        gender = #{gender},
        birthday = #{birthday},
        address = #{address},
        update_time = #{updateTime}
      where id = #{id}
  </update>

  <delete id="delete" parameterType="string">
    DELETE from t_user where id = #{id}
  </delete>

    <select id="totalNum" resultType="int">
        select COUNT(*) from t_user
    </select>

    <select id="saveBatch" parameterType="java.util.List">
      insert into t_user
      (id, name, gender, birthday, address, create_time, update_time)
      values
      <foreach collection="list" item="item" index="index" separator=",">
        (#{item.id}, #{item.name}, #{item.gender}, #{item.birthday}, #{item.address}, #{item.createTime}, #{item.updateTime})
      </foreach>
    </select>
</mapper>